@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');
$header-height: 85px;
$fontnavbar:'Dosis', sans-serif;
$fontbody: 'Source Sans Pro', sans-serif;
.navbar {
    height: $header-height;
    font-family:$fontnavbar;
}
main {
    padding-top: $header-height;
    font-family: $fontbody;
}
.modal-content{
  
    background-color: rgba(26, 68, 132, 0.5);
    color: white;
    font-weight: bolder;
    margin-top: 44%;
  }
  