.container{
    margin: 8% auto;
    width: 55%;
    font-family: 'Source Sans Pro', sans-serif;
    h1{
        font-size: 2.5em;
    }
    label{
        font-size: 1.2em;
    }
    button:hover{
        background-color: #1A4484;
        font-family: 'Dosis', sans-serif;
        color:white;
        font-weight: bold;
      
      }
    .btn-outline-signup{
      color:#1A4484;
      font-family: 'Dosis', sans-serif;
      font-size: 1.2rem;
      border: 1px solid #1A4484;
      font-weight: bold;
    }
}