
<div class="container">
  <button [routerLink]="['/newDogs']" type="button" class="btn btn-outline-more">Añadir perros</button>
  <div *ngIf="dogArray && dogArray.length >=1">
    <div class="row align-items-start">
      <div *ngFor="let dog of dogArray" class="col-md-4">
          <div class="dog-img">
            <img src="{{dog.picDog}}" alt="Foto de usuarios de {{sessionService.user.name}}">
          </div>
          <div class="dog-info">
            <h2>{{dog.name}}</h2>
            <p><span class = "dog-data"> Edad: </span> {{dog.age}}</p>
            <p><span class = "dog-data">Raza:</span> {{dog.breed | uppercase}}</p>
            <h5>Algo sobre {{dog.name}}:</h5>
            <p>{{dog.tips}}</p>
            <h5>Mis tratamientos:</h5>
            <p>{{dog.treatment}}</p>
          </div>
          <button [routerLink]="['/editDog', dog._id]" type="button" class="btn btn-outline-edit">Editar mi el perfil de {{dog.name}}</button>
          <button (click)="deleteDog(dog._id)" type="button" class="btn btn-outline-delete">Eliminar el perfil de {{dog.name}}</button>
        </div>
    </div>
  </div>
  <div *ngIf="dogArray && dogArray.length === 0">
    <h4>Todavía no has añadido ningún perro a tu lista!</h4>
  </div>
</div>

