.week {
  width: 100%;
}

.week-day {
  display: inline-block;
  width: 13.5%;
  text-align: center;
  padding: 20px;
}

.day-names {
  border-bottom: 1px solid #6c757d;
  font-weight: bold;
}

.accepted .btn-info {
  background: #28a745;
}

.rejected .btn-info {
  background: #dc3545;
}

.pending .btn-info {
  background: #17a2b8;
}

.closed .btn-outline-secondary{
  background: #6c757d;
}

.closed a {
  color: #343a40;
}

.accepted a,
.rejected a,
.pending a {
  color: white;
}
