<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="calendar">
    <div class="calendar-header text-center">
      <button (click)="previousMonth()" class="btn btn-outline-info"><i class="fas fa-arrow-left"></i></button>

          {{monthName}} {{year}}

          <button (click)="nextMonth()" class="btn btn-outline-info"><i class="fas fa-arrow-right"></i></button>
          <button (click)="setToday()" class="btn btn-outline-dark"><i class="far fa-calendar"></i>&nbsp;Hoy</button>
    </div>
    <div class="day-names">
      <div class="week-day">
        L
      </div>
      <div class="week-day">
        M
      </div>
      <div class="week-day">
        X
      </div>
      <div class="week-day">
        J
      </div>
      <div class="week-day">
        V
      </div>
      <div class="week-day">
        S
      </div>
      <div class="week-day">
        D
      </div>
    </div>
    <div class="week" *ngFor="let week of calendar">
      <div class="week-day" *ngFor="let d of week" [ngClass]="{pending:d.status=='Pending', accepted:d.status=='Accepted', rejected:d.status=='Rejected'}">
        <span *ngIf="d.idBook">
          <a [routerLink]="['/book', d.idBook]">
            <p>{{d.day}}</p>
            <p>{{d.book.user.name}} {{d.book.user.surname}}</p>
          </a>
        </span>
        <span *ngIf="!d.idBook">{{d.day}}</span>
      </div>
    </div>
  </div>
</div>