<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="calendar">
    <div class="calendar-header text-center">
      <button (click)="previousMonth()" class="btn btn-outline-info">
        < </button>

          {{monthName}} {{year}}

          <button (click)="nextMonth()" class="btn btn-outline-info"> > </button>
          <button (click)="setToday()" class="btn btn-outline-info">Hoy</button>
    </div>
    <div class="day-names">
      <div class="week-day">
        L
      </div>
      <div class="week-day">
        M
      </div>
      <div class="week-day">
        X
      </div>
      <div class="week-day">
        J
      </div>
      <div class="week-day">
        V
      </div>
      <div class="week-day">
        S
      </div>
      <div class="week-day">
        D
      </div>
    </div>
    <div class="week" *ngFor="let week of calendar">
      <div class="week-day" *ngFor="let d of week" [ngClass]="{booked: d.booked}">
        <span *ngIf="d.idBook"><a [routerLink]="['/home', d.idBook]">{{d.day}}</a></span>
        <span *ngIf="!d.idBook">{{d.day}}</span>
      </div>
    </div>
  </div>
</div>