.week {
  width: 100%;
}

.week-day {
  display: inline-block;
  width: 12%;
  text-align: center;
  padding: 10px;
}

.day-names {
  border-bottom: 1px solid #1A4484;
  font-weight: bold;
}

.accepted .btn-info {
  background: #4DB31A;
}

.rejected .btn-info {
  background: #B01D0B;
}

.pending .btn-info {
  background: #1A4484;
}

.closed .btn-outline-secondary{
  background: #6c757d;
}

.closed a {
  color: #343a40;
}

.accepted a,
.rejected a,
.pending a {
  color: white;
}
.btn-outline-arrow{
  color:#1A4484;
      
      border: 1px solid #1A4484;
     
}
.btn-outline-arrow:hover{
  background-color: #1A4484;
  
  color:white;
  
}