
.buddy{
    margin-top: 2%;
.buddy-img{
    img{
        width: 100%;
        
    }
}
}
.buddy-info{
    margin-top: 3%;
    h1{
        margin-bottom: 5%;
    }
    h5{
        margin-top:9%; 
    }
}