<div *ngIf="user">
  <div *ngIf="user.dogBuddy">
    <div class="options">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item">
            <a class="page-link" [routerLink]="['/calendar/']">Calendario</a>
          </li>
          <li class="page-item">
            <a class="page-link" [routerLink]="['/booking/']">Gestionar reservas</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <div *ngIf="!user.dogBuddy">
    <div class="options">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
          <li class="page-item">
            <a class="page-link" [routerLink]="['/dogs/']">Mis perros</a>
          </li>
          <li class="page-item">
            <a class="page-link" [routerLink]="['/booking/']">Mis reservas</a>
          </li>
      </ul>
    </nav>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="user-img">
          <img src="{{user.pic}}" alt="Foto de usuarios de {{user.name}}">
        </div>
      </div>
      <div class="user-info col-md-7">
          <h1>{{user.name}} {{user.surname}}</h1>
        <p class="user-data">{{user.adress}}</p>
        <p class="user-data">{{user.pc}}</p>
        <p class="user-data">{{user.city}}, {{user.country}}</p>
        <div class="user-buttos">
          <button (click)="edit()" type="button" class="btn btn-outline-edit">Editar mi perfil</button>
          <button (click)="delete()" type="button" class="btn btn-outline-delete">Eliminar mi perfil</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="user.dogBuddy">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
    <p class = "me"><span class= "description">Algo sobre mi:</span></p>
    <p>{{user.infoBuddy}}</p>
  </div>
  <div class="col-md-5 info-buddy">
    <p><span class= "description"> Mascotas residentes:</span> {{user.petsBuddy}}</p>
    <p><span class= "description"> Precio por noche:</span> {{user.rateBuddy}}€</p>
    <p><span class= "description"> Alojamiento:</span> {{user.houseBuddy}}</p>
    <p><span class= "description"> Zonas exteriories:</span> {{user.zonesBuddy}}</p>
    </div>      
  </div>
</div>
</div>
</div>