<app-nav-bar></app-nav-bar>
<div *ngIf = "user">
<div *ngIf = "user.dogBuddy">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item"><a class="page-link" [routerLink]="['/calendar/']">Calendario</a></li>
          <li class="page-item"><a class="page-link" [routerLink]="['/booking/']">Gestionar reservas</a></li>
          
        </ul>
      </nav>
</div>
<div *ngIf = "!user.dogBuddy">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item"><a class="page-link" [routerLink]="['/dogs/']">Mis perros</a></li>
          <li class="page-item"><a class="page-link" [routerLink]="['/booking/']">Mis reservas</a></li>
          
        </ul>
      </nav>
</div>



  <h1>{{user.name}} {{user.surname}}</h1>
  <img src ="{{user.pic}}" alt ="Foto de usuarios de {{user.name}}">
  <p>{{user.adress}}</p>
  <p>{{user.pc}}</p>
  <p>{{user.city}}, {{user.country}}</p>
  <button (click)="edit()" type="button" class="btn btn-outline-success">Editar mi perfil</button>
  <button (click)="delete()" type="button" class="btn btn-outline-danger">Eliminar mi perfil</button>

  <div *ngIf = "user.dogBuddy">
    <p>{{user.infoBuddy}}</p>
    <p>{{user.petsBuddy}}</p>
    <p>{{user.rateBuddy}}</p>
    <p>{{user.hauseBuddy}}</p>
    <p>{{user.zonesBuddy}}</p>
  </div>
</div>


