<div class="container">
    <h1>Registrarse: </h1>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Nombre *</label>
      <input type="text" [(ngModel)]="formSignUp.name" class="form-control" id="formGroupExampleInput1" placeholder="Nombre" name="name">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Apellidos *</label>
      <input type="text" [(ngModel)]="formSignUp.surname" class="form-control" id="formGroupExampleInput0" placeholder="Apellidos"
        name="surname">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Dirección *</label>
      <input type="text" [(ngModel)]="formSignUp.adress" class="form-control" id="formGroupExampleInput3" placeholder="Dirección"
        name="adress">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Código Postal *</label>
      <input type="number" [(ngModel)]="formSignUp.pc" class="form-control" id="formGroupExampleInput4" placeholder="Código Postal"
        name="pc">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Ciudad *</label>
        <input type="text" [(ngModel)]="formSignUp.city" class="form-control" id="formGroupExampleInput5" placeholder="Ciudad"
          name="city">
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput">Pais *</label>
          <input type="text" [(ngModel)]="formSignUp.country" class="form-control" id="formGroupExampleInput6" placeholder="País"
            name="country">
        </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Email *</label>
      <input type="email" [(ngModel)]="formSignUp.email" class="form-control" id="formGroupExampleInput2" placeholder="Email" name="Email">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Contraseña *</label>
      <input type="password" [(ngModel)]="formSignUp.password" class="form-control" id="formGroupExampleInput7" placeholder="Contraseña"
        name="password">
    </div>
    <button (click)="buddyTrue()" type="button" class="btn btn-outline-signup btn-lg btn-block">Picha aquí si eres canguro!</button>
    <div *ngIf="formSignUp.dogBuddy">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Cuéntanos algo sobre tí para que los demás usuarios puedan conocerte!</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="formSignUp.infoBuddy" name="infoBuddy" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Precio por noche: *</label>
        <input type="number" [(ngModel)]="formSignUp.rateBuddy" class="form-control" id="formGroupExampleInput8" placeholder="Número"
          name="rateBuddy">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Indica si tienes mascotas: *</label>
        <input type="text" [(ngModel)]="formSignUp.petsBuddy" class="form-control" id="formGroupExampleInput9" placeholder="Número de mascotas residentes"
          name="petsBuddy">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Indica que tipo de casa vas a ofrecer: *</label>
        <input type="text" [(ngModel)]="formSignUp.houseBuddy" class="form-control" id="formGroupExampleInput10" placeholder="Piso, chalet, loft..."
          name="houseBuddy">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Indica si tienes zonas exteriores: *</label>
        <input type="text" [(ngModel)]="formSignUp.zonesBuddy" class="form-control" id="formGroupExampleInput11" placeholder="Balcón, patio, jardín..."
          name="zonesBuddy">
      </div>

    </div>
    <button (click)="signup()" type="button" class="btn btn-outline-signup btn-lg btn-block">Listo!</button>
    * Campos obligatorios
    <p>Ya tienes una cuenta? Accede  <a [routerLink]="['/login/']"> aquí. </a></p>
  </form>
</div>