<div *ngIf="!buddies" id="home">
    <form class="form-inline">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Tu perro como en casa</h5>
          </div>
        <div class="card-body">

          <p class="card-text">
            
            <input class="form-control mr-sm-2" [(ngModel)]="pc" type="text" placeholder="Código Postal" aria-label="Search" name="pc" required>
           
            <input class="form-control mr-sm-2" [(ngModel)]="startDay" type="date" placeholder="Incio" aria-label="Search" name="startDay">
            
            <input class="form-control mr-sm-2" [(ngModel)]="endDay" type="date" placeholder="Fin" aria-label="Search" name="endDay">
          </p>
            <button class="btn btn-outline-buscar" type="submit" (click)="searchBuddy()">Buscar</button>
        </div>
      </div>
    </form>
    </div>

<div *ngIf="buddies">
  <form class="form-inline with-buddies">
    <!-- buscador -->
    <input class="form-control mr-sm-2" [(ngModel)]="pc" type="text" placeholder="Search" aria-label="Search" name="pc" required>
    <input class="form-control mr-sm-2" [(ngModel)]="startDay" type="date" placeholder="Incio" aria-label="Search" name="startDay">
    <input class="form-control mr-sm-2" [(ngModel)]="endDay" type="date" placeholder="Fin" aria-label="Search" name="endDay">
    <button class="btn btn-outline-buddies" type="submit" (click)="searchBuddy()">Buscar</button>
  </form>
  <div class="container">
    <div class="row">
      <div class="mapa col-md-6">
        <!-- Mapa -->
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.icon">
            <agm-info-window>
              <div>
                <img [src]="m.pic" [alt]="m.name" class="pic-marker">
                <p>
                  <strong>{{m.name}} {{m.surname}}</strong>
                </p>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <div class="card-buddies col-md-6">
        <div class="row card-group">
          <div *ngFor="let b of buddies" class="col-md-6">
            <!-- Canguros verdes -->
            <div class="card mb-3" style="width: 15rem;">
              <a (click)="publicBuddy(b._id, loginModal)">
                <div class="img-size text-center">
                  <img class="card-img-top" src="{{b.pic}}" alt="imagen de {{b.name}}">
                </div>
                <div class="card-body">
                  <p class="card-text one">{{b.name}} {{b.surname}}</p>
                  <p class="card-text two">{{b.rateBuddy}}€/noche</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #loginModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>¡Tienes que registrarte para poder ver los detalles!</h3>
      <a [routerLink]="['/signup/']">Registrarse</a>
      <h3>¿Ya tienes una cuenta?</h3>
      <a [routerLink]="['/login/']">Acceder</a>
    </div>
  </ng-template>
</div>