#home {
  min-height: 100vh;
  background: url('../../../assets/images/backLaCaseta.jpg');
  background-size: cover;
}

.mapa {
  agm-map {
    height: 675px;
    width: 100%;
  }
}
.with-buddies {
  text-align: center;
  margin-bottom: 10px;
}

.card-group {
  .img-size {
    height: 200px;
  }
}
.card-body {
  .one {
    border-top: 2px solid rgb(191, 185, 185);
    text-align: left;
    margin-bottom: 2px;
  }
  .two {
    text-align: right;
  }
}
