@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');

#home {
  min-height: 90vh;
  min-width: 100%;
  background: url('../../../assets/images/backLaCaseta.jpg');
  background-size: cover;
  
  
}
.form-inline{
  .card{
  margin-left: 54%;
  margin-top: 8%;
  .card-header{
    background-color: #EFF1F3;
    h5{
      text-align: center;
      font-family: 'Dosis', sans-serif;
      font-size: 1.8rem;
      color:#1A4484;
    }
  }
  
  button:hover{
    background-color: #1A4484;
    font-family: 'Dosis', sans-serif;
    color:white;
    
  }
  .btn-outline-buscar{
    padding: 2% 5%;
    display: block;
    margin: 5px auto;
    color:#1A4484;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #1A4484;
  }
}
}


  
  agm-map {
    position: fixed;
    height: 650px;
    width: 60%;
    

  

  
}

.with-buddies {
  text-align: center;
  display: block;
  margin: 10px auto;
  .btn-outline-buddies{
    color:#1A4484;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #1A4484;
  }
  button:hover{
    background-color: #1A4484;
    font-family: 'Dosis', sans-serif;
    color:white;
  }
}

.card-group {
  .img-size {
    height: 200px;
  }
      .card{
        
        border: 1px solid #1A4484;
      }
}
.card-body {
  .one {
    border-top: 2px solid #1A4484;
    text-align: left;
    margin-bottom: 2px;
  }
  .two {
    text-align: right;
  }
}

.pic-marker {
  width: 50px;
}

.m-titel{
  font-size: 2em;
  font-weight: bold;
}
.m-link{
  color: white;
  font-size: 1em;
  color: #B2EBF2;
}
.r{
  display: block;
  font-size: 1.4em;
  margin-bottom: 10%;
  text-align: center;
  margin-top: 5%;
}
.m-subtitle{
  display: inline;
  font-size: 1.3rem;
}

