<div *ngIf="!buddies" id="home">
    <form class="form-inline">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Tu perro como en casa</h5>
          </div>
        <div class="card-body">

          <p class="card-text">
            
            <input class="form-control mr-sm-2" [(ngModel)]="pc" type="text" placeholder="Código Postal" aria-label="Search" name="pc" required>
           
            <input class="form-control mr-sm-2" [(ngModel)]="startDay" type="date" placeholder="Incio" aria-label="Search" name="startDay">
            
            <input class="form-control mr-sm-2" [(ngModel)]="endDay" type="date" placeholder="Fin" aria-label="Search" name="endDay">
          </p>
            <button class="btn btn-outline-buscar" type="submit" (click)="searchBuddy()">Buscar</button>
        </div>
      </div>
    </form>
    </div>

<div *ngIf="buddies">
  <form class="form-inline with-buddies">
    <!-- buscador -->
    <input class="form-control mr-sm-2" [(ngModel)]="pc" type="text" placeholder="Search" aria-label="Search" name="pc" required>
    <input class="form-control mr-sm-2" [(ngModel)]="startDay" type="date" placeholder="Incio" aria-label="Search" name="startDay">
    <input class="form-control mr-sm-2" [(ngModel)]="endDay" type="date" placeholder="Fin" aria-label="Search" name="endDay">
    <button class="btn btn-outline-buddies" type="submit" (click)="searchBuddy()">Buscar</button>
  </form>
  <div class="container">
    <div class="row">
      <div class="mapa col-md-6">
        <!-- Mapa -->
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>
        </agm-map>
      </div>
      <div class="card-buddies col-md-6">
        <div class="row card-group">
          <div *ngFor="let b of buddies" class="col-md-6">
            <!-- Canguros verdes -->
            <div class="card mb-4" [routerLink]="['/publicBuddy', b._id]">
              <div class="view overlay">
                <img class="card-img-top" src="{{b.pic}}" alt="imagen de {{b.name}}">
                <div class="mask rgba-white-slight"></div>
              </div>
              <div class="card-body">
                <p class="card-text one">{{b.name}} {{b.surname}}</p>
                <p class="card-text two">{{b.rateBuddy}}€/noche</p>
              </div>
            </div>
          </div>
          <!-- <div *ngFor="let gb of greenBuddies" class="col-md-6"> -->
            <!-- Canguros verdes -->
            <!-- <div class="card mb-3" style="width: 15rem;" [routerLink]="['/publicBuddy', gb._id]">
              <div class="img-size text-center">
                <img class="card-img-top" src="{{gb.pic}}" alt="imagen de {{gb.name}}">
              </div>
              <div class="card-body">
                <p class="card-text one">{{gb.name}} {{gb.surname}}</p>
                <p class="card-text two">{{gb.rateBuddy}}€/noche</p>
              </div>
            </div>
          </div> -->
          <!-- <div *ngFor="let yb of yellowBuddies" class="col-md-6"> -->
            <!-- Canguros amarillos -->
            <!-- <div class="card mb-3" style="width: 15rem;" [routerLink]="['/publicBuddy', yb._id]">
              <div class="img-size text-center">
                <img class="card-img-top" src="{{yb.pic}}" alt="imagen de {{yb.name}}">
              </div>
              <div class="card-body">
                <p class="card-text one">{{yb.name}} {{yb.surname}}</p>
                <p class="card-text two">{{yb.rateBuddy}}€/noche</p>
              </div>
            </div>
          </div> -->
          <!-- <div *ngFor="let rb of redBuddies" class="col-md-6"> -->
            <!-- Canguros rojos -->
           <!--  <div class="card mb-3" style="width: 15rem;" [routerLink]="['/publicBuddy', rb._id]">
              <div class="img-size text-center">
                <img class="card-img-top" src="{{rb.pic}}" alt="imagen de {{rb.name}}">
              </div>
              <div class="card-body">
                <p class="card-text one">{{rb.name}} {{rb.surname}}</p>
                <p class="card-text two">{{rb.rateBuddy}}€/noche</p>
              </div>
            </div>
          </div> -->


        </div>
      </div>
    </div>
  </div>
  </div>